/*code for mobile*/
body{
    background-color: grey;
    width: 100%;
}
label{
    background-color: darkseagreen;
}
.formelement{
    width: 85%;
    margin-top: 10em;
    margin: auto;
}

#submitform{
    width: 100%;
    margin-top: 5em;
}


/*code for desktop*/
@media only screen and (min-width: 768px) {
    body{
        background-color: grey;
        width: 960px;
        margin: auto;
    }
    label{
        background-color: darkseagreen;
    }
    .formelement{
        margin-top: 5em;
        width: 50%;
    }
    #submitform{
        width: 100%;
    }
}
